<div class="mx-auto" style="width: 400px;">
  <h1>Stupid Coaching</h1>
  <p>You: <%= params["question"] %></p>
  <p>Coach: <%= @coach_response %></p>
  <%= link_to 'Ask again!', 'ask', {:class => "btn btn-primary"} %>
</div>